**/venv/
**/__pycache__/
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

**/build/
**/dist/
**/*.egg-info/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.pyw
**/*.pyz

.DS_Store
.idea/
.vscode/
.gradle/

build/